*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif; 
    background: rgb(217, 226, 236); 

}

h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: rgb(53, 56, 56);
}
#fecha{
    text-align: center;
    color: rgb(148, 148, 148);
    font-weight: normal;
    font-size: 30px;
}
.container{
    width: 700px;
    background: white;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}
.acceso{
     color: rgb(0, 17, 255); 
}
.ncontrol{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
}
.botones{
    display: flex;
    margin-top: 10px;
}
.entrada{
    background: blue;
    width: 100%;
    padding: 25px 25px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.salida{
    background: red;
    width: 100%;
    padding: 25px 25px;
    color: white;
    text-align: center;
    text-decoration: none;
}